
.App {
  text-align: center;
}
.enter_site{
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
}
.bg{
  display: block;
  height: 500px;
  width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.foots{
  padding-top: 2%;
  text-align: center;
  width: 790px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  font-size: 20px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media only screen and (max-width: 500px) {
    .bg{
      margin-top: 10%;
      width: 80%;
      height: 70%;
    }
    .enter_site{
      font-size: 15px;
      text-align: center;
    }
}
@media only screen and (max-width: 600px) {
  .bg{
    margin-top: 5%;
    width: 70%; 
    height: 70%;
    margin-left:15%;
    margin-right:15%;
   
  }
  .enter_site{
    font-size: 12px;
    text-align: center;
    margin-bottom: 4%;
  }
  .foots{
    width: 70%;
    height: 50%;
    margin-left:15%;
    margin-right:15%;
    font-size: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}